# Custom
_site

# Ant
MANIFEST.MF
./*.jar
build.num
build

# ADT
.classpath
.project
.settings
local.properties
bin
gen
_layouts
proguard.cfg
-

# OSX
.DS_Store

# Github
gh-pages

# Gradle
.gradle
build

# IDEA
*.iml
*.ipr
*.iws
out
.idea

# Maven
target
release.properties
pom.xml.*

screenshot_one.png
screenshot_two.png
demo1.gif
demo2.gif
demo2-badge.gif
tablet.png
screenshot_tablet.png
scrolling_demo.gif
color_demo.gif
